<section class="login-block">
    <div class="container p-5 border rounded-3 " >
  
      <div class="row ">
        <div class="col-md-12  text-center ">
          <!--  add a big circle on the top as a logo as a div no images juts a rounded div-->
          <div class="rounded-circle text-white p-3 mb-4" style="width: 100px; height: 100px; margin: 0 auto; background-color: aliceblue;"> </div>
            
          <h2 class=" text-white mb-4" >
            Welcome to Supa Chat.&nbsp;
            Login to Chat!</h2>
          <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="#"><img
              src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1712537582/google-logo.png"> Signup Using Google</a>
        </div>
      </div>
    </div>
  </section>